.background {
    background: url("../images/background-lg.png") no-repeat, $secondary;
    background-size: cover;
    -webkit-background-size: cover;
    background-position: center;
    background-position-x: 50%;
    background-position-y: 50%;
    // background-attachment: fixed;
    position: fixed;
    height: 100%;
    width: 100%;

    @include pad {
        background-image: url("../images/background-md.png");
        background-position: 80%;
        background-position-x: 80%;
    }
}

header {
    z-index: 10;
    width: 100%;
}

.header {
    justify-content: space-between;
    align-items: center;

    h1 {
        font-size: $fs-md;

        @include pad {
            font-size: $fs-sm;
        }
    }

    .navbar-list {
        justify-content: space-between;
        align-items: center;
        font-size: $fs-md;
        

        li {
            padding:0 $space;
            position: relative;
            @include phone {
                width: 100%;
                padding: 0px;
            }
        }

        a {
            display: block;

            &::after {
                content: '';
                position: absolute;
                bottom: -5px;
                left: 0;
                width: 100%;
                height: 5px;
                background-color: $info;
                opacity: 0;
                transition: all .3s ease-in;
            }

            &:hover::after,
            &:active::after {
                opacity: 1;
                bottom: 0;
                @include phone {
                    opacity: 0;
                }
            }

            &:hover,
            &:active {
                background-color: $white;
            }
            
        }

        @include pad {
            font-size: $fs-base;
        }

        @include phone {
            width: 100%;
            max-height: 0px;
            flex-direction: column;
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 10;
            transform: translateY(100%);
            background: $third;
            overflow: hidden;
            transition: max-height 0.7s;
            justify-content: center;
        }
    }

    .menu-btn {
        display: none;
        @include phone {
            display: block;
        }
    }

    .show {
        max-height: 500px;
    }

    @include phone {
        padding-top: $space;
        padding-bottom: $space;
    }
}

.footer {
    line-height: $lh-base;
    font-size: $fs-md;
    a {
        line-height: $lh-base;
        font-size: $fs-md;
        transition: all .3s ease;

        @include pad {
            font-size: $fs-sm;
        }
    
        @include phone {
            font-size: $fs-base;
        }

        &:hover {
            color: $secondary;
        }
    }

    @include pad {
        font-size: $fs-sm;
    }

    @include phone {
        flex-direction: column;
        font-size: $fs-base;
    }
}

// .modal {
//     display: none;
//     z-index: 1000;
//     top: 0;
//     left: 0;
//     height: 100%;
//     width: 100%;
//     background: rgba(255, 255, 255, .8) url('http://i.stack.imgur.com/FhHRx.gif') 50% 50% no-repeat;
// }

// body.loading {
//     overflow: hidden;
// }

// body.loading .modal {
//     display: block;
// }