@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&family=Roboto+Mono:ital,wght@0,400;1,100;1,400&family=Roboto:wght@400;500;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC&family=Roboto+Mono:ital,wght@0,400;1,100;1,400&family=Roboto:wght@400;500;900&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  font-family: "Noto Sans TC", Roboto, Arial, sans-serif;
  color: #4F0F26;
  font-size: 1rem;
  line-height: 1.5;
  background: url("../images/background-lg.png") no-repeat, #FAC8D3;
  background-size: cover;
  background-position: center;
  background-attachment: fixed; }
  @media (max-width: 995px) {
    body {
      background-image: url("../images/background-md.png") no-repeat;
      background-position: 80%; } }
  @media (max-width: 767px) {
    body {
      background-image: url("../images/background-sm.png") no-repeat; } }

img {
  vertical-align: middle;
  max-width: 100%;
  height: auto; }

a {
  text-decoration: none;
  color: #4F0F26; }

h1 {
  line-height: 1.5;
  font-size: 4rem;
  font-weight: bold; }
  @media (max-width: 995px) {
    h1 {
      font-size: 1.25rem; } }

h2 {
  line-height: 1.5;
  font-size: 2.25rem;
  font-weight: bold; }
  @media (max-width: 767px) {
    h2 {
      font-size: 1.25rem; } }

h3 {
  line-height: 1.5;
  font-size: 1.5rem; }
  @media (max-width: 995px) {
    h3 {
      font-size: 1.25rem; } }
  @media (max-width: 767px) {
    h3 {
      font-size: 1.125rem; } }

.container {
  margin: 0 auto;
  padding: 0 12px;
  max-width: 1400px;
  position: relative; }

.text-color {
  color: #4F0F26; }

.fw-b {
  font-weight: bold; }

.fw-m {
  font-weight: 500; }

.fs-italic {
  font-style: italic; }

.bg-white-theme {
  background-color: #fff; }

.bg-theme {
  background-color: #F87A8F; }

.bg-light-theme {
  background-color: #FAC8D3; }

.bg-third-theme {
  background-color: rgba(248, 122, 143, 0.8); }

.border {
  border: 5px solid #4F0F26; }

.shadow {
  -webkit-box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.35);
          box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.35); }

.text-center {
  text-align: center; }

.text-black {
  color: #000; }

.fs-md {
  font-size: 1.5rem; }

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.d-block {
  display: block; }

.jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.jc-sa {
  -ms-flex-pack: distribute;
      justify-content: space-around; }

.jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.ai-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.ai-stretch {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch; }

.pr-1 {
  padding-right: 0.5rem; }

.pr-2 {
  padding-right: 1rem; }

.pr-2-5 {
  padding-right: 1.25rem; }

.pr-3 {
  padding-right: 1.5rem; }

.pr-4 {
  padding-right: 2rem; }

.pr-10 {
  padding-right: 5rem; }

.pt-1 {
  padding-top: 0.5rem; }

.pt-2 {
  padding-top: 1rem; }

.pt-5 {
  padding-top: 2.5rem; }

.pt-8 {
  padding-top: 4rem; }

.pb-5 {
  padding-bottom: 2.5rem; }

.py-1 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem; }

.py-1-5 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem; }

.py-2-5 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem; }

.py-3 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem; }

.py-4-5 {
  padding-top: 2.25rem;
  padding-bottom: 2.25rem; }

.py-6 {
  padding-top: 3rem;
  padding-bottom: 3rem; }

.px-1 {
  padding-left: 0.5rem;
  padding-right: 0.5rem; }

.px-1-5 {
  padding-left: 0.75rem;
  padding-right: 0.75rem; }

.px-2 {
  padding-left: 1rem;
  padding-right: 1rem; }

.p-2 {
  padding: 1rem; }

.mr-4 {
  margin-right: 2rem; }

.mr-6 {
  margin-right: 3rem; }

.mr-15 {
  margin-right: 7.5rem; }

.ml-4 {
  margin-left: 2rem; }

.ml-15 {
  margin-left: 7.5rem; }

.mt-8 {
  margin-top: 4rem; }

.mb-1 {
  margin-bottom: 0.5rem; }

.mb-2 {
  margin-bottom: 1rem; }

.mb-2-5 {
  margin-bottom: 1.25rem; }

.mb-6 {
  margin-bottom: 3rem; }

.mb-10 {
  margin-bottom: 5rem; }

.p-fixed {
  position: fixed; }

.p-absolute {
  position: absolute; }

.p-relative {
  position: relative; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/* Slider */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat; }

/* Icons */
@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none; }
  .slick-prev:hover, .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    outline: none;
    background: transparent;
    color: transparent; }
    .slick-prev:hover:before, .slick-prev:focus:before,
    .slick-next:hover:before,
    .slick-next:focus:before {
      opacity: 1; }
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
    opacity: 0.25; }
  .slick-prev:before,
  .slick-next:before {
    font-family: "slick";
    font-size: 20px;
    line-height: 1;
    color: white;
    opacity: 0.75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: -25px; }
  [dir="rtl"] .slick-prev {
    left: auto;
    right: -25px; }
  .slick-prev:before {
    content: "←"; }
    [dir="rtl"] .slick-prev:before {
      content: "→"; }

.slick-next {
  right: -25px; }
  [dir="rtl"] .slick-next {
    left: -25px;
    right: auto; }
  .slick-next:before {
    content: "→"; }
    [dir="rtl"] .slick-next:before {
      content: "←"; }

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px; }

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%; }
  .slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer; }
    .slick-dots li button {
      border: 0;
      background: transparent;
      display: block;
      height: 20px;
      width: 20px;
      outline: none;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      padding: 5px;
      cursor: pointer; }
      .slick-dots li button:hover, .slick-dots li button:focus {
        outline: none; }
        .slick-dots li button:hover:before, .slick-dots li button:focus:before {
          opacity: 1; }
      .slick-dots li button:before {
        position: absolute;
        top: 0;
        left: 0;
        content: "•";
        width: 20px;
        height: 20px;
        font-family: "slick";
        font-size: 6px;
        line-height: 20px;
        text-align: center;
        color: black;
        opacity: 0.25;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
    .slick-dots li.slick-active button:before {
      color: black;
      opacity: 0.75; }

header {
  z-index: 10;
  width: 100%; }

.header {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .header h1 {
    font-size: 1.5rem; }
    @media (max-width: 995px) {
      .header h1 {
        font-size: 1.25rem; } }
  .header .navbar-list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 1.5rem; }
    .header .navbar-list li {
      padding: 0 0.5rem; }
      @media (max-width: 767px) {
        .header .navbar-list li {
          width: 100%;
          padding: 0px; } }
    .header .navbar-list a {
      display: block;
      border-bottom: 5px solid rgba(0, 0, 0, 0); }
      .header .navbar-list a:hover, .header .navbar-list a:focus {
        border-bottom: 5px solid #4F0F26; }
        @media (max-width: 767px) {
          .header .navbar-list a:hover, .header .navbar-list a:focus {
            background-color: #fff;
            border: none; } }
      @media (max-width: 767px) {
        .header .navbar-list a {
          border: none; } }
    @media (max-width: 995px) {
      .header .navbar-list {
        font-size: 1rem; } }
    @media (max-width: 767px) {
      .header .navbar-list {
        width: 100%;
        max-height: 0px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 10;
        -webkit-transform: translateY(100%);
            -ms-transform: translateY(100%);
                transform: translateY(100%);
        background: rgba(248, 122, 143, 0.8);
        overflow: hidden;
        -webkit-transition: max-height 0.7s;
        -o-transition: max-height 0.7s;
        transition: max-height 0.7s;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center; } }
  .header .menu-btn {
    display: none; }
    @media (max-width: 767px) {
      .header .menu-btn {
        display: block; } }
  .header .show {
    max-height: 500px; }
  @media (max-width: 767px) {
    .header {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem; } }

.footer {
  line-height: 1.5;
  font-size: 1.5rem; }
  .footer a {
    line-height: 1.5;
    font-size: 1.5rem; }
    @media (max-width: 995px) {
      .footer a {
        font-size: 1.25rem; } }
    @media (max-width: 767px) {
      .footer a {
        font-size: 1rem; } }
    .footer a:hover {
      color: #FAC8D3; }
  @media (max-width: 995px) {
    .footer {
      font-size: 1.25rem; } }
  @media (max-width: 767px) {
    .footer {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      font-size: 1rem; } }

.icon {
  font-size: 4rem; }
  @media (max-width: 995px) {
    .icon {
      font-size: 1.5rem; } }
  @media (max-width: 767px) {
    .icon {
      font-size: 1.25rem; } }

.left-title-bg {
  background: #F87A8F;
  width: 30%;
  height: 4rem;
  position: absolute;
  z-index: 1;
  top: 0;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  border-radius: 0 1.5rem 1.5rem 0; }
  @media (max-width: 995px) {
    .left-title-bg {
      display: none; } }

.left-title {
  position: absolute;
  z-index: 1;
  top: 0;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  padding: 0.375rem 0; }
  @media (max-width: 995px) {
    .left-title {
      background: #F87A8F;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      border-radius: 1.5rem;
      padding: 0.5rem 0.75rem; } }

.right-title-bg {
  background: #F87A8F;
  width: 30%;
  height: 4rem;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  border-radius: 1.5rem 0 0 1.5rem; }
  @media (max-width: 995px) {
    .right-title-bg {
      display: none; } }

.right-title {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  padding: 0.375rem 0;
  margin-right: 0.75rem; }
  @media (max-width: 995px) {
    .right-title {
      background: #F87A8F;
      right: auto;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      border-radius: 1.5rem;
      padding: 0.5rem 0.75rem; } }

.banner .logo {
  width: 40%; }
  @media (max-width: 767px) {
    .banner .logo {
      width: 60%; } }

.profile {
  z-index: 0;
  margin-bottom: 5rem; }
  .profile-content-bg {
    background: -webkit-gradient(linear, left top, right top, color-stop(50%, #fff), color-stop(10%, rgba(0, 0, 0, 0)));
    background: -o-linear-gradient(left, #fff 50%, rgba(0, 0, 0, 0) 10%);
    background: linear-gradient(90deg, #fff 50%, rgba(0, 0, 0, 0) 10%); }
    @media (max-width: 995px) {
      .profile-content-bg {
        background: #fff; } }
  @media (max-width: 995px) {
    .profile .pf-container {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: stretch;
          -ms-flex-align: stretch;
              align-items: stretch;
      padding-bottom: 1rem; } }
  .profile-content {
    background: #fff;
    border-radius: 180px; }
  .profile-subtitle {
    margin-bottom: 1rem; }
    .profile-subtitle img {
      width: 3rem; }
      @media (max-width: 995px) {
        .profile-subtitle img {
          width: 1.5rem;
          text-align: center; } }
    @media (max-width: 995px) {
      .profile-subtitle {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center; } }
  .profile-text {
    font-size: 1.25rem;
    width: 70%; }
    @media (max-width: 995px) {
      .profile-text {
        width: 100%; } }
    @media (max-width: 767px) {
      .profile-text {
        font-size: 1rem; } }
  .profile-tags {
    font-size: 1rem;
    width: 20%; }
    .profile-tags li {
      z-index: 10;
      padding: 0 0.5rem;
      width: 100%;
      margin-left: -10rem; }
      .profile-tags li::before {
        position: absolute;
        z-index: -1;
        content: '';
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: #F87A8F;
        -webkit-transform: skew(-30deg);
            -ms-transform: skew(-30deg);
                transform: skew(-30deg); }
      @media (max-width: 995px) {
        .profile-tags li {
          margin: 0 0.5rem; } }
      @media (max-width: 767px) {
        .profile-tags li {
          width: 50%;
          margin-bottom: 0.5rem; } }
    @media (max-width: 995px) {
      .profile-tags {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        padding-top: 1rem; } }
    @media (max-width: 767px) {
      .profile-tags {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; } }

.short {
  z-index: 0; }
  .short-content-bg {
    background: -webkit-gradient(linear, right top, left top, color-stop(40%, #fff), color-stop(10%, rgba(0, 0, 0, 0)));
    background: -o-linear-gradient(right, #fff 40%, rgba(0, 0, 0, 0) 10%);
    background: linear-gradient(-90deg, #fff 40%, rgba(0, 0, 0, 0) 10%); }
    @media (max-width: 995px) {
      .short-content-bg {
        background: #fff; } }
  .short-content {
    max-width: 60%;
    margin-left: auto;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    background: #fff;
    border-radius: 200px; }
    @media (max-width: 995px) {
      .short-content {
        max-width: 100%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        margin: 0 auto; } }
  .short-subtitle {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end; }
    .short-subtitle img {
      max-width: 40%; }
      @media (max-width: 995px) {
        .short-subtitle img {
          max-width: 1.5rem;
          text-align: center; } }
    .short-subtitle .direct {
      font-size: 2.25rem;
      -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr; }
      @media (max-width: 995px) {
        .short-subtitle .direct {
          font-size: 1.25rem;
          font-weight: normal;
          -webkit-writing-mode: lr-tb;
              -ms-writing-mode: lr-tb;
                  writing-mode: lr-tb; }
          .short-subtitle .direct span {
            padding: 0; } }
    @media (max-width: 1200px) {
      .short-subtitle {
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; } }
    @media (max-width: 995px) {
      .short-subtitle {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        shape-outside: none;
        float: none;
        margin-bottom: 1rem; } }
  @media (max-width: 767px) {
    .short iframe {
      width: 100%; } }

.spot {
  font-size: 1.25rem; }
  .spot-main {
    width: 100%; }
    @media (max-width: 767px) {
      .spot-main {
        font-size: 1rem; } }
  .spot .main-card:hover, .spot .main-card:active {
    background: #fff;
    border: 5px solid #F87A8F;
    color: #F87A8F; }
  .spot a {
    padding: 1.5rem;
    border-radius: 2rem; }
    @media (max-width: 995px) {
      .spot a {
        padding: 1rem; } }
    @media (max-width: 767px) {
      .spot a {
        padding: 0.5rem; } }
    .spot a li {
      width: 100%; }
    .spot a:hover, .spot a:active {
      background: rgba(248, 122, 143, 0.8); }
  @media (max-width: 767px) {
    .spot .card-r {
      display: none; } }
  .spot-secondary {
    margin: 0 auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .spot-secondary li {
      width: 33.333%;
      margin: 0 0.5rem 1.25rem 0.5rem; }
      @media (max-width: 995px) {
        .spot-secondary li {
          width: 50%; } }
      @media (max-width: 767px) {
        .spot-secondary li {
          width: 33.333%;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column;
          font-size: 1rem; } }
      @media (max-width: 480px) {
        .spot-secondary li {
          width: 50%; } }

@media (max-width: 767px) {
  .schedule-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; } }

@media (max-width: 767px) {
  .schedule-text {
    width: 50%;
    background-color: rgba(248, 122, 143, 0.8);
    padding: 0.75rem;
    margin-bottom: 1.5rem; } }

.schedule img {
  width: 30%;
  margin: 3rem 0; }
  @media (max-width: 767px) {
    .schedule img {
      width: 50%;
      margin: 2rem 0 0 0; } }

.schedule::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: url("../images/schedule-reverse-lg.jpg") no-repeat;
  background-position: center;
  background-size: cover; }
  @media (max-width: 995px) {
    .schedule::before {
      background-image: url("../images/schedule-reverse-sm.jpg"); } }
  @media (max-width: 480px) {
    .schedule::before {
      background-position: 70%; } }

.overlay {
  background-color: rgba(248, 122, 143, 0.8);
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 50%; }
  @media (max-width: 767px) {
    .overlay {
      display: none; } }

.event {
  text-align: center; }
  .event-cards {
    padding-bottom: 1rem; }
  .event-card a {
    padding: 0.5rem;
    background: #fff;
    border-radius: 1.25rem; }
  .event .slick-track {
    padding-top: 3rem; }
  .event .slick-slide {
    margin: 1rem;
    position: relative; }
  .event .slick-slide .item-img {
    max-width: 50%;
    margin: 0 auto; }
  .event .slick-dots {
    padding-bottom: 1.5rem; }
  .event .slick-dots li button:before {
    font-size: 3rem; }
  .event .hover-image {
    width: 100%;
    height: 100%;
    border-radius: 1.25rem;
    position: absolute;
    -webkit-transition: .5s ease;
    -o-transition: .5s ease;
    transition: .5s ease;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -o-object-fit: cover;
       object-fit: cover; }
    .event .hover-image:hover, .event .hover-image:active {
      opacity: 1; }
    @media (max-width: 767px) {
      .event .hover-image {
        display: none; } }

.donate-content {
  background: rgba(255, 255, 255, 0.5);
  padding-bottom: 2rem;
  margin-bottom: 5rem; }
  .donate-content h3 {
    padding: 3rem 0; }
    @media (max-width: 995px) {
      .donate-content h3 {
        padding-bottom: 1rem; } }

.links-list li:hover p, .links-list li:active p {
  background-image: url("../images/fox-button-hover.png"); }

.links-list img {
  max-width: 6.25rem;
  margin-bottom: 0.5rem; }
  @media (max-width: 767px) {
    .links-list img {
      max-width: 100%; } }

.links-list p {
  font-size: 1.5rem;
  background: url("../images/fox-button.png") no-repeat;
  background-position: center;
  background-size: contain;
  padding: 1.5rem 1.5rem 0.5rem 1.5rem;
  outline: none;
  border: none; }
  @media (max-width: 767px) {
    .links-list p {
      font-size: 1rem;
      padding: 1rem 1rem 0.25rem 1rem; } }

@media (max-width: 480px) {
  .links-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; } }

.donate-song {
  width: 60%;
  margin: 0 auto; }
  .donate-song h3 {
    padding: 1.5rem 0; }
  .donate-song img {
    width: 70%;
    margin: 0 auto; }
    @media (max-width: 995px) {
      .donate-song img {
        width: 60%; } }
  .donate-song-content {
    border-radius: 2rem; }
    .donate-song-content p {
      max-width: 50%;
      margin: 0 auto;
      font-size: 1.25rem; }
      @media (max-width: 767px) {
        .donate-song-content p {
          max-width: 100%;
          font-size: 1rem; } }
    .donate-song-content:hover, .donate-song-content:active {
      -webkit-box-shadow: 4px 4px 4px 0 rgba(248, 122, 143, 0.8);
              box-shadow: 4px 4px 4px 0 rgba(248, 122, 143, 0.8); }
  @media (max-width: 995px) {
    .donate-song {
      width: 80%; } }

/*# sourceMappingURL=all.css.map */
