// @font-face {
//     font-family: "Cubic 11";
//     src: url("../../font/Cubic_11/fonts/ttf/Cubic_11_1.010_R.ttf") format('truetype'),
//     url("../../font/Cubic_11/fonts/web/Cubic_11_1.010_R.woff") format('woff'),
//     url("../../font/Cubic_11/fonts/web/Cubic_11_1.010_R.woff2") format('woff2');
// }

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    min-width: 100%;
    min-height: 100%;
    overflow-x: hidden;
}

body {
    font-family: "Noto Sans TC", Roboto, Arial, sans-serif;
    color: $info;
    font-size: $fs-base;
    line-height: $lh-base;
    overflow-x: hidden;
    
}

img {
    vertical-align: middle;
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: $info;
}

// header styles
h1 {
    line-height: $lh-base;
    font-size: $h1-font-size;
    font-weight: $fw-bold;

    @include pad {
        font-size: $fs-sm;
    }
}

h2 {
    line-height: $lh-base;
    font-size: $h2-font-size;
    font-weight: $fw-bold;

    @include phone {
        font-size: $fs-sm;
    }
}

h3 {
    line-height: $lh-base;
    font-size: $h3-font-size;

    @include pad {
        font-size: $fs-sm;
    }

    @include phone {
        font-size: $fs-base*1.125; //18px
    }
}

::-webkit-scrollbar {

    width: 0.75rem;

    &-track {
        background: $third;
    }

    &-thumb {
        background: $secondary;
        border-radius: 1rem;
        &:hover {
            background-color: $info;
        }
    }
}
